<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="node_modules/jquery-ui/dist/themes/base/jquery-ui.min.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <link href="style.css" rel="stylesheet" type="text/css">
    <script src="./node_modules/jquery/dist/jquery.min.js"></script>
    <script src="./node_modules/jquery-ui/dist/jquery-ui.min.js"></script>
    <script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>const titles=<%- JSON.stringify(titles) %></script>
  </head>
  <body>
    <div id="container">
      <div id="control_panel">
        <table class="table">
          <tr>
            <td>
              <div class="input-group">
                <input type="text" id="new_entry_title" class="form-control" placeholder="New Entry" aria-label="New Entry"></input>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" title="New entry advanced" type="button" id="new_entry_options_button" data-bs-toggle="modal" data-bs-target="#myModal"><i class="bi bi-three-dots-vertical"></i></button>
                </div>
              </div>
            </td>
            <td>
              <button id="export_button" title="Export to xlsx" class="btn btn-outline-secondary"><i class="bi bi-file-earmark-spreadsheet"></i></button>
              <div id="export_dates">
                <input type="text" id="export_from_date_input">
                <input type="text" id="export_to_date_input">
                <input type="file" id="export_to_file">
              </div>
            </td>
            <td>
              <button id="config_button" title="Open config file" class="btn btn-outline-secondary"><i class="bi bi-gear"></i></button>
            </td>
            <td><input type="text" title="Set entry date" id="date_input" value="<%- date %>" class="form-control"></input></td>
          </tr>
        </table>
      </div>
      <div id="entries" class="form-group">
        <% Object.keys(entries).forEach(function(key) { %>
        <div class="input-group entry-input-group" id="<%- key %>">
          <div class="input-group-prepend" data-toggle="tooltip" data-placement="top" title="<%- entries[key].description %>">
            <label class="entry-label input-group-text">
              <i class="del_button bi bi-trash"></i>
              <!-- <i data-bs-toggle="modal" data-bs-target="#myModal" class="edit_button bi bi-pencil"></i> -->
              <%- key %>
            </label>
          </div>
          <% if(entries[key].type == "0"){ %>
          <input value="<%- entries[key].value %>" type="number" class="form-control">
          <% } else if(entries[key].type == "1"){ %>
          <input type="checkbox" class="form-check-input" <% if(entries[key].value){ %>checked<% } %>>
          <% } else if(entries[key].type == "2"){ %>
          <input value="<%- entries[key].value %>" type="text" class="form-control">
          <% } else if(entries[key].type == "3"){ %>
          <select class="form-control">
            <% entries[key].options.forEach(function(option) { %>
            <option value="<%- option %>"<% if(option == entries[key].value){ %>selected<% } %>><%- option %></option>
            <% }) %> 
          </select>
          <% } %>
        </div>
        <% }) %>
      </div>
      <!-- Modal -->
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
      
          <!-- Modal content-->
          <div class="modal-content">
            <form class="was-validated" id="advanced_new_entry_form">
              <div class="modal-header">
                <h4 class="modal-title">New Entry (Advanced)</h4>
              </div>
              <div class="modal-body">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Title</span>
                  </div>
                  <input type="text" class="form-control" id="new_entry_title_adv" required>
                </div>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Description</span>
                  </div>
                  <input type="text" class="form-control" id="new_entry_description">
                </div>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Type</span>
                  </div>
                  <select class="custom-select" id="new_entry_type">
                    <option value="0" selected>Number</option>
                    <option value="1">Boolean</option>
                    <option value="2">Text</option>
                    <option value="3">Select</option>
                  </select>
                </div>
                <div id="new_entry_select_options">
                  <button class="btn btn-secondary" type="button" id="new_entry_select_add_option" ><i class="bi bi-plus-square"></i></button>
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary" type="submit" id="new_entry_done_button" >Done</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <span id="total_display" class="badge bg-secondary"><%- sum %></span>
  </body>
  <script src="./renderer.js"></script>
</html>

