<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
<link href="style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <table>
      <% Object.keys(entries).forEach(function(key) { %>
          <tr>
            <td><%- key %></td>
            <td>
              <button value="<%- key %>" class="sub_button">-</button>
              <input value="<%- entries[key] %>" id="<%- key %>" class="entry_input" type="text"></input>
              <button value="<%- key %>" class="add_button">+</button>
            </td>
          </tr>
      <% }) %>
      <tr>
          <td><input type="text" id="new_entry_title"></input></td><td><button id="add_entry_button">+</button></td>
      </tr>
    </table>
    <script src="./renderer.js"></script>
  </body>
</html>